# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
backend/.venv/
*.egg-info/
dist/
build/

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Models (большие .pt файлы)
# models/*.pt

# Скриншоты референса
begin_page.png
service_page.png
